body{
    width: 100vw;
    height: 100vh;
    background-image: url(../imagem/kanban-industria40.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    overflow-y: hidden;
}

#quadroLogin{
    position: absolute;
    width: 63vw;
    height: 80vh;
    border-radius: 10px;
    color: white;
    background-color: rgba(16, 122, 123, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: (5px);
}

#entrada{
    font-size: 25px;
    position: absolute;
    width: 80%;
    height: 71.5%;
    padding-top: 0vh;
    left: 14vw;
    padding-left: 18px;
}

label{
    color: rgb(243, 239, 239);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: block;
    font-size: 1.5em;
    margin-top: 2vh;
    margin-bottom: 3vh;
}

#img{
    position: absolute;
    top: 30vh;
    left: 10vw;
    width: 0vw;
    height: 0vh;
}

input{
    width: 30vw;
    height: 5vh;
    border:none;
    border-bottom: 1px solid rgba(44, 72, 128, 0.581);
    outline: none;
    background-color: rgba(255, 255, 255, 0);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: (10px);
    font-size: 15px;
}

#titulo{
    color: #FFF;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 4vh;
    text-align: center;
    top: 0vh;
}

#icone{
    position: absolute;
    top: 6.2vh;
    left: 19vw;
    width: 3.6vw;
    height: 3.4vw;
}

#botao{
    font-size: 1.5em;
    display: block;
    margin-top: 10vh;
    background-color: #30bcef;
    border-radius: 5px;
    border: none;
    width: 30vw;
    height: 7vh;
}

#botao{
    cursor: pointer;
}

#botaoCad{
    position: absolute;
    bottom: 2vh;
    right: 2vw;
    font-size: 1.5em;
    background-color: #30bcef;
    border-radius: 5px;
    border: none;
    width: 8vw;
    height: 7vh;
}

#botaoCad:hover{
    cursor: pointer;
}


@media only screen and (max-width: 800px) {
    #img{
        position: absolute;
        top: 30vh;
        left: 10vw;
        width: 0vw;
        height: 0vh;
    }

    #icone{
        position: absolute;
        top: 6.2vh;
        left: 19vw;
        width: 0vw;
        height: 0vw;
    }

    #botao{
        font-size: 1.5em;
        display: block;
        margin-top: 20px;
        background-color: #30bcef;
        border-radius: 5px;
        border: none;
        width: 80%;
        height: 9vh;
    }

    #entrada{
        font-size: 25px;
        position: absolute;
        width: 100%;
        height: 71.5%;
        padding-top: 23vh;
        right: 0px;
        
    }
  }